.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.menu-item {
  margin: 2em auto;
  max-width: 10em;
}

.menu-item h2 {
  padding-bottom: 0.25em;
  margin-bottom: 0;
  border-bottom: 1px solid slategray;
}

.item-options {
  text-align: left;
}

.item-option {
  display: block;
  padding: 0.5em;
}

.panel {
  flex-grow: 1;
  max-width: 40em;
  min-width: 20em;
  border: 5px solid dodgerblue;
  border-radius: 4px;
  margin: 2em;
  padding: 2em;
}

.cart-table {
  margin: auto;
  min-width: 16em;
  border-collapse: collapse;
}

.table-desc {
  text-align: left;
}

.table-price {
  text-align: right;
}

tfoot {
  font-weight: bold;
}

th,
td {
  border-bottom: 1px solid slategray;
  padding: 1em;
}
